.container {
  margin: 0 auto;
  padding: $gutter__lg;

  @include mq-desktop() {
    max-width: $w-max-x-1;
  }

  @include mq-giant() {
    max-width: $w-max-x-2;
  }

  @include mq-2k() {
    max-width: $w-max-x-3;
  }
}
