* {
  font-family: $ff-default;
}

h1 {
  font-size: $hs-1;
}

h2 {
  font-size: $hs-2;
}

h3 {
  font-size: $hs-3;
}

h4 {
  font-size: $hs-4;
}

h5 {
  font-size: $hs-5;
}

h6 {
  font-size: $hs-6;
}
