@import '@styles/variables';
@import '@styles/mixins';

.cc-basic-card {
  @include font($line-height: $lh-3);
  margin: 0 0 $m-3;
  padding: $gutter__lg;
  border: $box-border__dark;

  &__rounded {
    border-radius: $br-1;
  }
}
