/** Default Colors */
$c-blue-01: #0267c1;
$c-blue-02: #0075c4;
$c-blue-lite: #cae5ff;
$c-black: #0c120c;
$c-grey: #443742;
$c-white: #f3f4ff;

$colors: (
  'c-blue-01': $c-blue-01,
  'c-blue-02': $c-blue-02,
  'c-blue-lite': $c-blue-lite,
  'c-black': $c-black,
  'c-grey': $c-grey,
  'c-white': $c-white,
);

/** Box Colors */
/** A Box is any block-level element; these elements may have
box-shadows, borders, et cetera. */
$box-bg-dark: $c-grey;
$box-bg-lite: $c-blue-lite;
$box-bs-def: 2px 3px 14px -1px rgba(0, 0, 0, 0.65);
$box-bs-lg: 2px 3px 22px 2px rgba(0, 0, 0, 0.65);
$box-bs-hover: 2px 27px 30px 2px rgba(0, 0, 0, 0.55);
$box-border-color-def: $c-grey;
$box-border-color-lite: $c-blue-lite;
$box-border: solid 1px;

/** Font Colors */
$fc-def: $c-black;
$fc-lite: $c-white;
