:root {
  --c-bg-color: #{$box-bg-lite};
  --c-f-color: #{$fc-def};
  --c-border-color: #{$box-border-color-def};

  --c-btn-bg-color: #{$c-blue-lite};
  --c-btn-f-color: #{$c-black};
  --c-btn-box-shadow: #{$box-bs-def};
}

body[data-theme='dark'] {
  --c-bg-color: #{$box-bg-dark};
  --c-f-color: #{$fc-lite};
  --c-border-color: #{$box-border-color-lite};
}
